<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>951566252593-scut073a5pv7l7roiiocefkqmeajcand.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.951566252593-scut073a5pv7l7roiiocefkqmeajcand</string>
	<key>API_KEY</key>
	<string>AIzaSyCO9kb6-BFQBT9ar-YwX0W4aHlxPZRFbyY</string>
	<key>GCM_SENDER_ID</key>
	<string>951566252593</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>design.tear.wallclock</string>
	<key>PROJECT_ID</key>
	<string>teardesign-wall-clock</string>
	<key>STORAGE_BUCKET</key>
	<string>teardesign-wall-clock.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:951566252593:ios:04a2f28ae53646fb</string>
	<key>DATABASE_URL</key>
	<string>https://teardesign-wall-clock.firebaseio.com</string>
</dict>
</plist>