page-home {
  overflow: hidden;
  font-family: 'Inconsolata', monospace;
  .scroll-content {
    background: black;
    margin: 0;
    padding: 0 !important;
  }
  #time {
    color: #A0126C;
    font-size: 35vw;
    width: 100%;
    font-weight: 500;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    span {
      width: 100%;
      display: inline-block;
      text-align: center;
      font-size: 5vw;
    }
  }
}
